---
import "../styles/cards.scss";
import { Icon } from 'astro-icon/components';
import otherData from '../data/other.json';

interface DemoProject {
  title: string;
  technologies: string[];
  links: {
    github?: string;
    live?: string;
  };
}

interface OtherData {
  demo: DemoProject[];
}

const { demo }: OtherData = otherData;
---

<section id="demos">
  <h2>Demos</h2>
  <div class="cards-wrapper">
    {demo.map((project) => (
      <div class="card card--demo animation animation--scale-small-in">
        <div class="card__content">
          <h4>{project.title}</h4>
          <ul>
            {project.technologies.map((technology) => (
              <li>{technology}</li>
            ))}
          </ul>
          <ul class="project-outbound-links">
            <li class="tooltip">
              <a
                href={project.links.github}
                aria-label={`View ${project.title} on GitHub`}
              >
                <Icon name="ph:github-logo-thin" />
                <span>View {project.title} on GitHub</span>
              </a>
            </li>
            <li class="tooltip">
              <a
                href={project.links.live}
                aria-label={`View ${project.title} live`}
              >
                <Icon name="ph:arrow-square-out-thin" />
                <span>View {project.title} live</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    ))}
  </div>
</section>

<style lang="scss">
  section {
    margin-top: 14rem;
  }

  .project-outbound-links {
    margin-top: auto;

    li {
      &::after {
        display: none;
      }

      &.tooltip span {
        font-size: 1rem;
      }
    }

    a {
      color: white;
      font-size: 1.5rem;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--green-200);
      }
    }
  }
</style>
