---
import featuredProjectsData from '../data/featuredProjects.json';

interface FeaturedProject {
  title: string;
  image: string;
  technologies: string[];
  links: {
    github?: string;
    live?: string;
  };
}

interface FeaturedProjectsData {
  projects: FeaturedProject[];
}

const { projects }: FeaturedProjectsData = featuredProjectsData;
---

<section>
  <h2 class="animation animation--scale-in">Featured Projects</h2>
  {projects.map((project) => (
    <a
      href={project.links.live}
      aria-label={`Visit ${project.title} website`}
      rel="noopener noreferrer"
      class="card card--featured"
    >
      <div class="card__image animation animation--left">
        <img src={project.image} alt={project.title} />
      </div>
      <div class="card__content animation animation--right">
        <h4>{project.title}</h4>
        <ul>
          {project.technologies.map((technology) => (
            <li>{technology}</li>
          ))}
        </ul>
      </div>
    </a>
  ))}
</section>

<style lang="scss">
  .card {
    &--featured {
      text-decoration: none;
      display: grid;
      margin-bottom: 30px;
      grid-template-columns: 1fr;
      grid-template-areas:
      "image"
      "content";

      @media (width >= 768px) {
        grid-template-columns: 45% 1fr;
        grid-template-areas: "image content";
        align-items: center;

        .card__content {
          border-radius: 0 8px 8px 0;
        }

        &:nth-child(even) {
          grid-template-columns: 1fr 45%;
          grid-template-areas: "content image";

          .card__content {
            border-radius: 8px 0 0 8px;
          }
        }
      }
    }

    &__image {
      grid-area: image;
      position: relative;
      z-index: 2;

      img {
        object-fit: cover;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0 0;

        @media (width >= 768px) {
          border-radius: 8px;
        }
      }
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    &__content {
      grid-area: content;
      background-color: var(--green-400);
      color: white;
      height: 40%;
      padding: 2rem;
      border-radius: 0 0 8px 8px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: .5rem;
      position: relative;
      z-index: 1;

      h3 {
        margin-bottom: 1rem;
      }

      ul {
        display: flex;
        gap: .5rem;

        li {
          &:not(:first-child)::before {
            content: '•';
            margin-right: .5rem;
            color: var(--green-200);
          }
        }
      }
    }

  }
</style>
